div .suggestion {
  position: absolute;
  background-color: white;
  border: 1px solid rgb(136, 212, 212);
  /* border-bottom: 1px solid aqua; */
  padding: 0.6rem;
}

.form-group #city {
  margin-bottom: 0;
}
