div .suggestion {
  position: absolute;
  background-color: white;
  border: 1px solid rgb(136, 212, 212);
  /* border-bottom: 1px solid aqua; */
  padding: 0.6rem;
}

div .suggestion:hover {
  background-color: #00415e;
  color: #fff;
}

.form-group #city {
  margin-bottom: 0;
}

.sug {
  position: absolute;
  background-color: white;
}

.suggestionSearch {
  background-color: white;
  border: 1px solid rgb(136, 212, 212);
  /* border-bottom: 1px solid aqua; */
  padding: 0.6rem;
}

.suggestionSearch:hover {
  background-color: #00415e;
  color: #fff;
}