@media only screen and (max-width: 768px) {
  .article-search#article-search {
    margin-top: 3.6rem;
    margin-bottom: 2rem;
  }
  .banner {
    margin-top: 4.5rem;
    height: 40vh;
  }
}

.banner {
  height: 49vh;
  position: relative;
  background: url("../../assets/healthcare/img/images/Banner1-Full.jpg") center;
  animation: carousel 30s ease-in-out infinite;
  opacity: 0.8;
}

.primary-btn-color {
  background-color: #00415e;
}

@keyframes carousel {
  0% {
    background: url("../../assets/healthcare/img/images/Banner1-Full.jpg")
      center center no-repeat;
    background-size: cover;
  }
  25% {
    background: url("../../assets/healthcare/img/images/Banner2.jpg") center
      center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("../../assets/healthcare/img/images/Banner3.jpg") center
      center no-repeat;
    background-size: cover;
  }
  100% {
    background: url("../../assets/healthcare/img/images/Banner41.jpg") center
      center no-repeat;
    background-size: cover;
  }
}
.banner .banner-title {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  font-weight: bold;
  opacity: 1;
  text-shadow: 2px 5px 5px black;
}

.banner .banner-title h1 {
  font-weight: bold;
}

.trending-articles .card {
  min-height: 8.5rem;
}

.trending-articles #yoga {
  background: url("../../assets/healthcare/img/images/Trending-Cures/yoga.jpg")
    center center no-repeat;
  background-size: cover;
}
.trending-articles #chinese {
  background: url("../../assets/healthcare/img/images/Trending-Cures/chinese.jpg")
    center center no-repeat;
  background-size: cover;
}
.trending-articles #ayurveda {
  background: url("../../assets/healthcare/img/images/Trending-Cures/ayurvedic.jpg")
    center center no-repeat;
  background-size: cover;
}
.trending-articles #homeopathy {
  background: url("../../assets/healthcare/img/images/Trending-Cures/homeopathy.jpg")
    center center no-repeat;
  background-size: cover;
}
.trending-articles #naturopathy {
  background: url("../../assets/healthcare/img/images/Trending-Cures/herbal-naturopathic-medicine.jpg")
    center center no-repeat;
  background-size: cover;
}

.trending-articles #unani {
  background: url("../../assets/healthcare/img/images/Trending-Cures/unani.jpg")
    center center no-repeat;
  background-size: cover;
}

.trending-articles .col-4 {
  width: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.filter-white {
  filter: invert(99%) sepia(60%) saturate(1%) hue-rotate(291deg)
    brightness(119%) contrast(91%);
}
.card-img{
}
.card-img img {
  width: 100%;
  /* width: 350px; */
  display: block;
  max-width:350px;
  height:250px;
 
  
  vertical-align: middle;
  
}

.trending-section .comman-heading {
  width: 11rem;
}

.featured-articles .owl-prev {
  position: absolute;
  left: 0;
  background: #00415e !important;
  top: 8rem;
}

.featured-articles .owl-prev span {
  padding: 0.55rem;
  color: white;
}

button.active {
  background-color: #387a99;
  color: #f4f4f4;
}

#show-all-cures {
  background-color: #00415e;
  color: white;
}

.pagination-preview {
  margin: 0 1rem;
}
@media only screen and (max-width: 768px) {
  .pagination-preview button:nth-child(n + 6) {
    display: none;
  }

  .pagination-preview button:last-child {
    display: inline;
  }
}
