/* ----------- iPhone 4 and 4S ----------- */

@media only screen and (min-width: 220px) and (max-width: 480px) {
  div#socilaBtn {
    position: relative;
    top: 15px;
    right: 69px;
  }
  div#filter {
    position: relative;
    left: 14px;
    top: 5px;
  }
  .copyRight p {
    padding-top: 16px;
    position: relative;
    left: 0px;
    text-align: center;
  }

  .breadcrumb {
    padding: 3rem 1rem;
  }
  #share-icons-regions {
    position: relative;
    flex-direction: column-reverse;
    left: 70px;
  }
  #s1 {
    font-size: 19px;
    position: relative;
    bottom: 30px;
  }
  #starMob {
    font-size: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #starWeb {
    display: none;
  }
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #visitDoc {
    padding: 5px 20px;
  }
  #head5 {
    padding-right: 80px;
    padding-left: 0;
  }
  #none {
    display: none;
  }
  button#dropHead {
    position: relative;

    left: -5px;
  }
  #mainSearch {
    margin-right: -25px;
  }
  #head1 {
    position: relative;
    bottom: 30px;
  }

  #homeDoc {
    position: relative;
    bottom: 105px;
    left: 15px;
  }
  #homeCity {
    position: relative;
    bottom: 105px;
    left: 15px;
  }
  #btnDoc {
    position: relative;
    bottom: 105px;
    left: 13px;
  }

  form.sign {
    padding: 0px 5px;
  }

  #accText {
    display: none;
  }
  #headSign {
    font-size: 2rem;
  }
  #forgetPass {
    font-size: 10px;
  }

  #btn1 {
    padding: 6px 20px;
  }
  #rightPanel {
    padding: 0px 5px;
  }
  #signUp {
    padding: 6px 20px;
  }

  #docRate {
    position: relative;
    top: 40px;
    right: 6px;
  }
  #about {
    position: relative;
    top: 15px;
  }

  #profile {
    position: relative;

    left: 0px;
  }

  #head4 {
    position: relative;
    top: 2px;
  }

  #searchBtn {
    margin-right: -5px;
  }

  #searchDoc {
    margin-top: 10px;
    width: 97%;
    padding: 0;
    position: relative;
    left: 15px;
  }
  #searchArticle {
    margin: 45px 0 0 10px;
  }

  #Article {
    font-size: 13px;
    padding: 4px;
    position: relative;
    left: 10px;
  }

  .newsletter_float {
    position: fixed;
    width: 45%;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }

  #createArticle {
    position: relative;
    left: 10px;
    padding-top: 0px;
    font-size: 10px;
  }
  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;
    left: 10px;
    padding: 5px;
  }

  #signIn {
    position: relative;

    width: 132px;
    /* bottom: 31px; */
  }
  .serchlabel {
    margin-bottom: 50px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 26px;
    height: 52px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 568px) {
  div#socilaBtn {
    position: relative;
    top: 15px;
    right: 55px;
  }
  div#filter {
    position: relative;
    left: 14px;
    top: 5px;
  }
  .breadcrumb {
    padding: 3rem 1rem;
  }
  #share-icons-regions {
    position: relative;
    flex-direction: column-reverse;
    left: 70px;
  }
  #s1 {
    font-size: 19px;
    position: relative;
    bottom: 30px;
  }
  #starMob {
    font-size: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #starWeb {
    display: none;
  }
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #visitDoc {
    padding: 5px 20px;
  }
  #head5 {
    padding-right: 80px;
    padding-left: 0;
  }
  #none {
    display: none;
  }
  button#dropHead {
    position: relative;

    left: 5px;
  }
  #mainSearch {
    margin-right: -13px;
  }
  #head1 {
    position: relative;
    bottom: 30px;
  }

  #homeDoc {
    position: relative;
    bottom: 105px;
    left: 15px;
  }
  #homeCity {
    position: relative;
    bottom: 105px;
    left: 15px;
  }
  #btnDoc {
    position: relative;
    bottom: 105px;
    left: 13px;
  }
  #about {
    position: relative;
    top: 15px;
  }
  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;

    padding: 5px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding: 0px;
    font-size: 11px;
  }

  #signIn {
    position: relative;
    left: 5px;
    width: 132px;
    /* bottom: 31px; */
  }
  .serchlabel {
    margin-bottom: 50px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: -12px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 375px) and (max-width: 914px) {
  div#socilaBtn {
    position: relative;
    top: 15px;
    right: 69px;
  }
  div#filter {
    position: relative;
    left: 14px;
    top: 5px;
  }
  .breadcrumb {
    padding: 3rem 1rem;
  }
  #share-icons-regions {
    position: relative;
    flex-direction: column-reverse;
    left: 85px;
  }
  #s1 {
    font-size: 19px;
    position: relative;
    bottom: 30px;
  }
  #starMob {
    font-size: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #starWeb {
    display: none;
  }
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #visitDoc {
    padding: 5px 20px;
  }
  #head5 {
    padding-right: 80px;
    padding-left: 0;
  }
  #none {
    display: none;
  }
  button#dropHead {
    position: relative;

    left: -5px;
  }
  #searchHead {
    margin-right: -27px;
  }
  #Article {
    position: relative;

    left: 0px;
  }
  #mainSearch {
    margin-right: -25px;
  }
  #head1 {
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }
  #homeDoc {
    position: relative;
    bottom: 190px;
    left: 15px;
  }
  #homeCity {
    position: relative;
    bottom: 190px;
    left: 15px;
  }
  #btnDoc {
    position: relative;
    bottom: 190px;
    left: 13px;
  }
  #about {
    position: relative;
    top: 15px;
  }
  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;
    left: 20px;
    padding: 5px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding: 3px;
    font-size: 13px;
  }

  #signIn {
    position: relative;
    left: -5px;
    /* bottom: 20px; */
  }
  .serchlabel {
    margin-bottom: 20px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 0px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 411px) and (max-width: 732px) {
  div#socilaBtn {
    position: relative;
    top: 15px;
    right: 110px;
  }
  div#filter {
    position: relative;
    left: 14px;
    top: 5px;
  }
  .breadcrumb {
    padding: 3rem 1rem;
  }
  #share-icons-regions {
    position: relative;
    flex-direction: column-reverse;
    left: 125px;
  }
  #s1 {
    font-size: 19px;
    position: relative;
    bottom: 30px;
  }
  #starMob {
    font-size: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #starWeb {
    display: none;
  }
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #visitDoc {
    padding: 5px 20px;
  }
  #head5 {
    padding-right: 60px;
    padding-left: 0;
  }
  #none {
    display: none;
  }
  button#dropHead {
    position: relative;
    left: -5px;
  }
  #head1 {
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }
  #homeDoc {
    position: relative;
    bottom: 105px;
    left: 15px;
  }
  #homeCity {
    position: relative;
    bottom: 105px;
    left: 15px;
  }
  #btnDoc {
    position: relative;
    bottom: 105px;
    left: 13px;
  }
  #artBtn {
    font-size: 10px;
  }

  #about {
    position: relative;
    top: 15px;
  }
  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;
    left: 20px;
    padding: 5px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding-top: 0px;
    font-size: 10px;
  }

  #signIn {
    position: relative;
    /* left: 15px; */
  }
  .serchlabel {
    margin-bottom: 20px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

@media screen and (min-width: 360px) and (max-height: 740px) {
  div#filter {
    position: relative;
    left: 14px;
    top: 5px;
  }
  .breadcrumb {
    padding: 3rem 1rem;
  }
  #share-icons-regions {
    position: relative;
    flex-direction: column-reverse;
  }
  #s1 {
    font-size: 19px;
    position: relative;
    bottom: 30px;
  }
  #starMob {
    font-size: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #starWeb {
    display: none;
  }
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #visitDoc {
    padding: 5px 20px;
  }

  #none {
    display: none;
  }
  button#dropHead {
    position: relative;

    left: -5px;
  }
  #head1 {
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }

  #homeDoc {
    position: relative;
    bottom: 105px;
    left: 15px;
  }
  #homeCity {
    position: relative;
    bottom: 105px;
    left: 15px;
  }
  #btnDoc {
    position: relative;
    bottom: 105px;
    left: 13px;
  }
  #Article {
    font-size: 13px;
    padding: 5px;
    position: relative;

    left: 0px;
  }
  #searchHead {
    margin-right: -12px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding: 2px;
    font-size: 12px;
  }

  #signIn {
    position: relative;
    left: -5px;

    /* bottom: 20px; */
  }
  .serchlabel {
    margin-bottom: 110px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 0px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  #searchArticle {
    margin: 35px 0px 0px 12px;
  }
  #article {
    margin-right: 12px;
  }
  .article-search {
    margin: 35px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (min-width: 320px) and (max-height: 640px) {
  div#socilaBtn {
    position: relative;
    top: 15px;
    right: 55px;
  }
  div#filter {
    position: relative;
    left: 14px;
    top: 5px;
  }
  .breadcrumb {
    padding: 3rem 1rem;
  }
  #share-icons-regions {
    position: relative;
    flex-direction: column-reverse;
    left: 70px;
  }
  #s1 {
    font-size: 19px;
    position: relative;
    bottom: 30px;
  }
  #starMob {
    font-size: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #starWeb {
    display: none;
  }
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #visitDoc {
    padding: 5px 20px;
  }
  #head5 {
    padding-right: 80px;
    padding-left: 0;
  }
  #none {
    display: none;
  }
  button#dropHead {
    position: relative;

    left: -5px;
  }
  #Article {
    position: relative;

    left: 0px;
  }
  #head1 {
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }

  #homeDoc {
    position: relative;
    bottom: 90px;
    left: 15px;
  }
  #homeCity {
    position: relative;
    bottom: 90px;
    left: 15px;
  }
  #btnDoc {
    position: relative;
    bottom: 90px;
    left: 13px;
  }
  #createArticle {
    position: relative;
    left: 20px;
    padding: 2px;
    font-size: 12px;
  }
  #searchHead {
    margin-right: -12px;
  }
  #signIn {
    position: relative;
    left: -5px;
    /* bottom: 20px; */
  }

  .serchlabel {
    margin-bottom: 110px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: -20px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  div#socilaBtn {
    position: relative;
    top: 32px;
    right: 293px;
  }
  div#filter {
    position: relative;
    left: 14px;
    top: -20px;
  }

  .breadcrumb {
    padding: 2rem 1rem;
  }
  #share-icons-regions {
    position: relative;
    flex-direction: inherit;
    top: 60px;
    left: 310px;
  }
  #s1 {
    font-size: 35px;
    position: relative;
    bottom: 10px;
  }
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #head5 {
    padding-left: 0;
    padding-right: 0;
  }

  .article-search#article-search {
    margin-top: 3px;
    margin-bottom: 0rem;
  }
  #searchHead {
    margin-left: 65px;
  }
  #head1 {
    position: relative;
    bottom: 30px;
    font-size: 2rem;
  }

  #homeDoc {
    margin-left: 5px;
  }
  #homeCity {
    left: 18px;
  }
  #docRate {
    position: relative;
    top: 40px;
    right: 6px;
  }
  #mt {
    margin-top: 3rem;
  }
  #textComment {
    font-size: 10px;
  }

  #about {
    position: relative;
    top: 15px;
  }

  #profile {
    position: relative;

    left: 0px;
  }

  #head4 {
    position: relative;
    top: 2px;
  }
  .newsletter_float {
    position: fixed;
    width: 20%;
    height: 40px;
    bottom: 20px;
    left: 560px;
    font-size: 22px;
  }

  #searchBtn {
    margin-right: -30px;
    margin-bottom: 5px;
  }
  #searchCity {
    position: relative;
    top: 30px;
    left: 30px;
  }
  #searchDoc {
    margin-bottom: 4px;
    margin-left: 10px;
    width: 97%;
    padding: 0;
    position: relative;
    left: 15px;
  }

  #searchCity {
    position: relative;
    top: 0px;
    left: 30px;
  }

  #searchArticle {
    margin: 75px 0 0 150px;
  }

  #btnDoc {
    left: -40px;
  }
  #mainSearch {
    margin-left: 20px;
  }
  #Article {
    font-size: 15px;
    padding: 6px;
    position: relative;
    left: 0px;
  }
  #searchMain {
    margin-bottom: 5rem;
  }
  #sectionMain {
    margin-bottom: 16rem;
  }

  .serchlabel {
    margin-bottom: 210px;
  }
  .doc-name {
    margin-top: 80px;
    margin-left: -20px;
  }

  .article-search {
    margin: 20px 0px 0px 185px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: -25px;
    height: 56px;
    width: 74px;
  }

  .city-name.col-md-5 {
    margin-top: 80px;
    margin-left: -60px;
  }

  .btn.btn-article-search.color-white.float-right {
    position: relative;
    left: -20px;

    bottom: 0px;
  }
  #avg-rating {
    position: relative;
    left: 14px;
    font-size: 14px;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  div#socilaBtn {
    position: relative;
    top: 32px;
    right: 105px;
  }
  div#filter {
    position: relative;
    left: 14px;
    top: 15px;
  }
  #share-icons-regions {
    position: relative;
    flex-direction: inherit;
    top: 60px;
    left: 125px;
  }
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  #searchHead {
    margin-left: 0;
  }

  #head1 {
    position: relative;
    bottom: 30px;
    font-size: 2.5rem;
  }

  #mainSearch {
    margin-left: 5px;
  }
  #docRate {
    position: relative;
    top: 0px;
  }

  #textComment {
    font-size: 10px;
  }

  #searchBtn {
    margin-right: -34px;
    margin-top: 110px;
    position: relative;
    top: 35px;
  }
  #searchCity {
    margin-top: 105px;
    position: relative;
    top: 40px;
  }
  #searchDoc {
    margin-top: 105px;
    position: relative;
    top: 40px;
  }
  #searchArticle {
    margin: 0px -285px 0 0px;
    position: absolute;
    right: 583px;
  }

  #Article {
    font-size: 15px;
    padding: 6px;
    position: relative;
    left: 0px;
  }

  .serchlabel {
    margin-bottom: 160px;
  }
  .doc-name {
    margin-top: 110px;
    margin-left: -20px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 25px;
    height: 56px;
    width: 74px;
  }

  .city-name.col-md-5 {
    margin-top: 110px;
  }
  .btn.btn-article-search.color-white {
    position: relative;
    right: 20px;
  }
  .btn.btn-article-search.color-white.float-right {
    position: relative;
    left: -20px;
    bottom: 90px;
  }

  .serchlabel {
    margin-bottom: 70px;
  }
  .doc-name {
    width: 250px;
    margin-top: -90px;
    margin-left: 40px;
  }

  .article-search {
    margin: 0px 225px 0px 70px;
  }

  .city-name.col-md-5 {
    margin-top: -90px;
  }

  /* 
  


    .serchlabel {
        margin-bottom: 160px;
    }
    .doc-name {
    
        margin-top: 110px;
        margin-left: -20px;
   
    }

.article-search {

    margin: 20px 0px 0px -5px;

}
.btn-article-search {
    background-color: #00415e;
    margin-right: 25px;
    height: 56px;
    width:74px
}

.city-name.col-md-5 {
   margin-top: 110px;
}
.btn.btn-article-search.color-white {
    position: relative;
    right: 20px;
}
.btn.btn-article-search.color-white.float-right {
    position: relative;
    left: 900px;
    bottom: 91px;
} */
}

/* ----------- iPad Pro 10.5" ----------- */

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {
  .loginSign {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #textComment {
    font-size: 10px;
  }

  #searchBtn {
    margin-right: -34px;
    margin-top: 85px;
    margin-bottom: 105px;
    position: relative;
    top: 35px;
  }
  #searchCity {
    margin-top: 80px;
    position: relative;
    top: 40px;
  }
  #searchDoc {
    margin-top: 80px;
    position: relative;
    top: 40px;
  }
  #searchArticle {
    margin: 0px 0 0 0px;
    position: absolute;
    right: 583px;
  }

  #Article {
    font-size: 15px;
    padding: 6px;
    position: relative;
    left: 0px;
  }

  .serchlabel {
    margin-bottom: 160px;
  }
  .doc-name {
    margin-top: 110px;
    margin-left: -20px;
  }

  .btn-article-search {
    background-color: #00415e;
    margin-right: 25px;
    height: 56px;
    width: 74px;
  }

  .city-name.col-md-5 {
    margin-top: 110px;
  }
  .btn.btn-article-search.color-white {
    position: relative;
    right: 20px;
  }
  .btn.btn-article-search.color-white.float-right {
    position: relative;
    left: -20px;
    bottom: 90px;
  }

  .serchlabel {
    margin-bottom: 70px;
  }
  .doc-name {
    width: 250px;
    margin-top: -90px;
    margin-left: -5px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }

  .city-name.col-md-5 {
    margin-top: -90px;
  }
}
