/* ----------- iPhone 4 and 4S ----------- */

@media only screen and (min-device-width: 220px) and (max-device-width: 480px) {
  #mainSearch{
    margin-right: -25px;
  }
  #head1{
    position: relative;
    bottom: 30px;
  }

#homeDoc{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#homeCity{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#btnDoc{
  position: relative;
  bottom: 105px;
  left: 13px;
}

  form.sign {
    padding: 0px 5px;
  }

  #accText {
    display: none;
  }
  #headSign {
    font-size: 2rem;
  }
  #forgetPass {
    font-size: 10px;
  }

  #btn1 {
    padding: 6px 20px;
  }
  #rightPanel {
    padding: 0px 5px;
  }
  #signUp {
    padding: 6x 20px;
  }

  #docRate {
    position: relative;
    top: 40px;
    right: 6px;
  }
  #about {
    position: relative;
    top: 15px;
  }

  #profile {
    position: relative;

    left: 0px;
  }

  #head4 {
    position: relative;
    top: 2px;
  }

  #searchBtn {
    margin-right: -5px;
  }

  #searchDoc {
    margin-top: 10px;
    width: 97%;
    padding: 0;
    position: relative;
    left: 15px;
  }
  #searchArticle {
    margin: 45px 0 0 10px;
  }

  #Article {
    font-size: 13px;
    padding: 4px;
    position: relative;
    left: 10px;
  }
  */ .newsletter_float {
    position: fixed;
    width: 45%;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }

  #createArticle {
    position: relative;
    left: 10px;
    padding-top: 0px;
    font-size: 10px;
  }
  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;
    left: 10px;
    padding: 5px;
  }

  #signIn {
    position: relative;
    left: 130px;
    width: 132px;
    bottom: 31px;
  }
  .serchlabel {
    margin-bottom: 50px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 26px;
    height: 52px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  #mainSearch{
    margin-right: -13px;
  }
  #head1{
    position: relative;
    bottom: 30px;
  }

#homeDoc{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#homeCity{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#btnDoc{
  position: relative;
  bottom: 105px;
  left: 13px;
}
  #about {
    position: relative;
    top: 15px;
  }
  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;

    padding: 5px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding: 0px;
    font-size: 11px;
  }

  #signIn {
    position: relative;
    left: 130px;
    width: 132px;
    bottom: 31px;
  }
  .serchlabel {
    margin-bottom: 50px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 914px) {
  #mainSearch{
    margin-right: -25px;
  }
  #head1{
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }
#homeDoc{
  position: relative;
  bottom: 190px;
  left: 15px;
}
#homeCity{
  position: relative;
  bottom: 190px;
  left: 15px;
}
#btnDoc{
  position: relative;
  bottom: 190px;
  left: 13px;
}
  #about {
    position: relative;
    top: 15px;
  }
  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;
    left: 20px;
    padding: 5px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding: 3px;
    font-size: 13px;
  }

  #signIn {
    position: relative;
    left: 5px;
    top: 0px;
  }
  .serchlabel {
    margin-bottom: 20px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 0px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #head1{
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }
#homeDoc{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#homeCity{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#btnDoc{
  position: relative;
  bottom: 105px;
  left: 13px;
}
  #artBtn {
    font-size: 10px;
  }

  #about {
    position: relative;
    top: 15px;
  }
  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;
    left: 20px;
    padding: 5px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding-top: 0px;
    font-size: 10px;
  }

  #signIn {
    position: relative;
    left: 15px;
  }
  .serchlabel {
    margin-bottom: 20px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #head1{
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }

#homeDoc{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#homeCity{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#btnDoc{
  position: relative;
  bottom: 105px;
  left: 13px;
}
  #about {
    position: relative;
    top: 15px;
  }

  #profile {
    position: relative;

    left: 0px;
  }

  #head4 {
    position: relative;
    top: 2px;
  }

  #createArticle1 {
    text-align: center;
    font-size: 13px;
    position: relative;
    left: 20px;
    padding: 5px;
  }

  .newsletter_float {
    position: fixed;
    width: 40%;
    height: 40px;
    bottom: 20px;
    left: 190px;
    font-size: 22px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding: 2px;
    font-size: 11px;
  }

  .serchlabel {
    margin-bottom: 20px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 55px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }
  .article-search {
    margin: -20px 0px 0px -5px;
  }
  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
} */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

@media screen and (min-device-width: 360px) and (max-device-height: 740px) {
  #head1{
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }

#homeDoc{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#homeCity{
  position: relative;
  bottom: 105px;
  left: 15px;
}
#btnDoc{
  position: relative;
  bottom: 105px;
  left: 13px;
}
  #Article {
    font-size: 13px;
    padding: 5px;
  }

  #createArticle {
    position: relative;
    left: 20px;
    padding: 2px;
    font-size: 12px;
  }

  #signIn {
    position: relative;
    left: 5px;

    bottom: 0px;
  }
  .serchlabel {
    margin-bottom: 110px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: 0px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  #searchArticle {
    margin: 35px 0px 0px 12px;
  }
  #article {
    margin-right: 12px;
  }
  .article-search {
    margin: 35px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (min-device-width: 320px) and (max-device-height: 640px)  {
  #head1{
    position: relative;
    bottom: 30px;
    font-size: 26px;
  }

#homeDoc{
  position: relative;
  bottom: 90px;
  left: 15px;
}
#homeCity{
  position: relative;
  bottom: 90px;
  left: 15px;
}
#btnDoc{
  position: relative;
  bottom: 90px;
  left: 13px;
}
  #createArticle {
    position: relative;
    left: 20px;
    padding: 2px;
    font-size: 12px;
  }

  #signIn {
    position: relative;
    left: 5px;
    bottom: 0px;
  }

  .serchlabel {
    margin-bottom: 110px;
  }
  .doc-name {
    margin-right: 26px;
    margin-top: -20px;
    margin-left: -5px;
    margin-bottom: 0px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 23px;
    height: 56px;
  }

  .city-name.col-md-5 {
    margin-left: -5px;
    margin-right: 60px;
  }
}



  
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #head1{
    position: relative;
    bottom: 30px;
    font-size:2rem ;
  }

  #homeDoc{
    margin-left: 5px;
  }
  #homeCity{
    left: 18px;
  }
  #docRate {
    position: relative;
    top: 40px;
    right: 6px;
  }
  #mt {
    margin-top: 3rem;
  }
  #textComment {
    font-size: 10px;
  }

  .newsletter_float {
    position: fixed;
    width: 20%;
    height: 40px;
    bottom: 20px;
    left: 560px;
    font-size: 22px;
  }

  #about {
    position: relative;
    top: 15px;
  }

  #profile {
    position: relative;

    left: 0px;
  }

  #head4 {
    position: relative;
    top: 2px;
  }
  .newsletter_float {
    position: fixed;
    width: 20%;
    height: 40px;
    bottom: 20px;
    left: 560px;
    font-size: 22px;
  }

  #searchBtn {
    margin-right: -30px;
    margin-bottom: 5px;
  }
  #searchCity {
    position: relative;
    top: 30px;
    left: 30px;
  }
  #searchDoc {
    margin-bottom: 4px;
    margin-left: 10px;
    width: 97%;
    padding: 0;
    position: relative;
    left: 15px;
  }
  #searchArticle {
    margin: 140px 0 0 10px;
  }

  #searchCity {
    position: relative;
    top: 0px;
    left: 30px;
  }

  #searchArticle {
    margin: 90px 0 0 145px;
  }

  #btnDoc{
    left:-40px
  }
#mainSearch{
  margin-left: 76px;
}
  #Article {
    font-size: 15px;
    padding: 6px;
    position: relative;
    left: 5px;
    
  }
  #searchMain {
    margin-bottom: 5rem;
  }
  #sectionMain {
    margin-bottom: 16rem;
  }

  .serchlabel {
    margin-bottom: 210px;
  }
  .doc-name {
    margin-top: 80px;
    margin-left: -20px;
  }

  .article-search {
    margin: 20px 0px 0px 145px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: -25px;
    height: 56px;
    width: 74px;
  }

  .city-name.col-md-5 {
    margin-top: 80px;
    margin-left: -60px;
  }

  .btn.btn-article-search.color-white.float-right {
    position: relative;
    left: -20px;

    bottom: 0px;
  }
  #avg-rating {
    position: relative;
    left: 14px;
    font-size: 14px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {

  #head1{
    position: relative;
    bottom: 30px;
    font-size:2.5rem ;
  }

  #mainSearch{
    margin-left: 0px;
  }
  #docRate {
    position: relative;
    top: 0px;
  }

  #textComment {
    font-size: 10px;
  }

  #searchBtn {
    margin-right: -34px;
    margin-top: 110px;
    position: relative;
    top: 35px;
  }
  #searchCity {
    margin-top: 105px;
    position: relative;
    top: 40px;
  }
  #searchDoc {
    margin-top: 105px;
    position: relative;
    top: 40px;
  }
  #searchArticle {
    margin: 0px -225px 0 0px;
    position: absolute;
    right: 583px;
  }

  #Article {
    font-size: 15px;
    padding: 6px;
    position: relative;
    left: 0px;
    height: 38px;
  }

  .serchlabel {
    margin-bottom: 160px;
  }
  .doc-name {
    margin-top: 110px;
    margin-left: -20px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }
  .btn-article-search {
    background-color: #00415e;
    margin-right: 25px;
    height: 56px;
    width: 74px;
  }

  .city-name.col-md-5 {
    margin-top: 110px;
  }
  .btn.btn-article-search.color-white {
    position: relative;
    right: 20px;
  }
  .btn.btn-article-search.color-white.float-right {
    position: relative;
    left: -20px;
    bottom: 90px;
  }

  .serchlabel {
    margin-bottom: 70px;
  }
  .doc-name {
    width: 250px;
    margin-top: -90px;
    margin-left: 40px;
  }

  .article-search {
    margin: 20px 0px 0px 70px;
  }

  .city-name.col-md-5 {
    margin-top: -90px;
  }

  /* 
  


    .serchlabel {
        margin-bottom: 160px;
    }
    .doc-name {
    
        margin-top: 110px;
        margin-left: -20px;
   
    }

.article-search {

    margin: 20px 0px 0px -5px;

}
.btn-article-search {
    background-color: #00415e;
    margin-right: 25px;
    height: 56px;
    width:74px
}

.city-name.col-md-5 {
   margin-top: 110px;
}
.btn.btn-article-search.color-white {
    position: relative;
    right: 20px;
}
.btn.btn-article-search.color-white.float-right {
    position: relative;
    left: 900px;
    bottom: 91px;
} */
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #textComment {
    font-size: 10px;
  }

  #searchBtn {
    margin-right: -34px;
    margin-top: 85px;
    margin-bottom: 105px;
    position: relative;
    top: 35px;
  }
  #searchCity {
    margin-top: 80px;
    position: relative;
    top: 40px;
  }
  #searchDoc {
    margin-top: 80px;
    position: relative;
    top: 40px;
  }
  #searchArticle {
    margin: 0px 0 0 0px;
    position: absolute;
    right: 583px;
  }

  #Article {
    font-size: 15px;
    padding: 6px;
    position: relative;
    left: 0px;
    height: 38px;
  }

  .serchlabel {
    margin-bottom: 160px;
  }
  .doc-name {
    margin-top: 110px;
    margin-left: -20px;
  }

  .btn-article-search {
    background-color: #00415e;
    margin-right: 25px;
    height: 56px;
    width: 74px;
  }

  .city-name.col-md-5 {
    margin-top: 110px;
  }
  .btn.btn-article-search.color-white {
    position: relative;
    right: 20px;
  }
  .btn.btn-article-search.color-white.float-right {
    position: relative;
    left: -20px;
    bottom: 90px;
  }

  .serchlabel {
    margin-bottom: 70px;
  }
  .doc-name {
    width: 250px;
    margin-top: -90px;
    margin-left: -5px;
  }

  .article-search {
    margin: 20px 0px 0px -5px;
  }

  .city-name.col-md-5 {
    margin-top: -90px;
  }
}
