@media screen and (min-width: 1200px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*    a.appBtn {
        padding: 16px 63px;
    }*/

  .btn-Gropu {
    right: 0px;
  }

  /* .name p {
            width: unset;
        }*/
  /*.detail-r {
            padding-left: 100px;
            margin-bottom: 30px;
        }*/

  .tab-nav ul li {
    margin-right: 10px;
  }

  .tab-nav ul li a {
    padding: 5px 15px;
  }

  .moreFilters {
    margin-left: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*    a.appBTN {
            padding: 10px 25px;
        }*/
  /*    .btn-Gropu {
            bottom: -235px;
        }*/
  /*a.appBtn {
            padding: 9px 5px;
            margin-bottom: 20px;
        }*/

  /* .article-title-container {
    display: block !important;
  } */

  .socia-media-footer ul li {
    margin-right: 10px !important;
    font-size: 30px !important;
  }

  .serchlabel {
    bottom: 150px !important;
  }

  /*.serch-wrap-inner {
            margin-top: -99px;
        }*/

  .tab-nav ul li {
    margin-right: 2px !important;
  }

  .tab-nav ul li a {
    /*padding: 5px 12px;*/
    font-size: 13px !important;
  }

  .moreFilters {
    padding: 6px 36px !important;
    margin-left: 20px !important;
    font-size: 13px !important;
  }

  /*    .name p {
             width: unset; 
        }*/
  /*.detail-r {
            padding-left: 100px;
        }*/

  .tab-content-detail {
    padding: 30px 0 30px 0;
  }
}

/* MOBILE SCREEN  */

@media only screen and (min-device-width: 220px) and (max-device-width: 700px) {
  .serchlabel {
    padding-left: 15px !important;
  }

  .header {
    padding: 38px 15px i !important;
  }

  .banner {
    max-width: 100%;
    min-width: 300px;
  }

  .serchlabel h1 {
    font-size: 24px !important;
  }

  /* .serchlabel {
    bottom: 199px !important;
  } */

  .serch-wrap-inner {
    margin: -179px 15px !important;
  }

  .search .form-control {
    border-radius: 100px !important;
  }

  .form-group.zipcode {
    border: 0px !important;
  }

  .serch-wrap-inner .form-control {
    border-radius: 100px !important;
  }

  .date .form-control {
    border-radius: 100px !important;
  }

  .city .form-control {
    border-radius: 100px !important;
  }

  .tab-nav {
    display: inline-block !important;
  }

  .tab-nav ul {
    margin: 0 0 30px 14px !important;
  }

  .tab-nav ul li a {
    padding: 5px 16px !important;
  }

  .tab-nav ul li {
    margin-right: 9px !important;
    margin-bottom: 0.6rem;
  }

  .comman-heading {
    padding-left: 15px !important;
  }

  .item {
    margin-left: 15px !important;
  }

  .consultunt-inner {
    padding: 34px 15px !important;
  }

  .consultunt-inner h1,
  p {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1) !important;
  }

  .testomonial-info {
    margin-left: 0px;
    margin-right: 15px !important;
  }

  .subscribe h1 {
    font-size: 22px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1) !important;
    padding: 26px 0 2px 0 !important;
  }

  .btn-Gropu {
    display: inline-block !important;
    bottom: -225px !important;
    left: 0px !important;
  }

  a.appBTN {
    padding: 10px 14pxzz;
    margin-right: 9px;
  }

  a.appBtn {
    padding: 10px 35px;
    margin-right: 20px;
  }

  .socia-media-footer ul {
    float: none;
  }

  .socia-media-footer ul li {
    font-size: 26px;
    margin-top: 20px;
  }

  .startVideoBtn {
    padding: 6px 30px;
    display: inline-block;
  }

  .searchPage .tab-nav ul li a {
    padding: 5px 8px !important;
    font-size: 13px !important;
  }

  .moreFilters {
    padding: 6px 25px !important;
    margin: 0px 0 10px 0px !important;
    margin-left: 15px !important;
  }

  .detail-l {
    padding-left: 0 !important;
    padding-top: 20px !important;
  }

  .name p {
    width: unset !important;
  }

  .tab-content-img {
    position: unset !important;
    border: 1px solid #c4c4c4 !important;
    overflow: hidden !important;
    border-radius: 100% !important;
    width: 140px !important;
    margin-left: 15px !important;
  }

  .detail-l .btn-group a {
    padding: 5px 9px !important;
    margin-right: 10px !important;
    font-size: 13px !important;
  }

  .detail-r {
    min-width: 200px !important;
    /* display: flex !important;*/
    flex-wrap: nowrap !important;
    overflow: auto !important;
    padding-bottom: 20px !important;
  }

  .detail-r {
    padding-left: 0px !important;
  }

  .pageHeader {
    height: 25vh;
    /* margin: -99px 15px !important; */
  }

  .tab-content-detail {
    margin-left: 15px !important;
  }

  .comman-pg-header .serch-wrap-inner {
    margin: -100px 15px !important;
  }

  .comman-pg-header .megaSearch {
    /* padding: 0 0 80px !important; */
    position: relative;
    top: -2.8rem;
    margin: 0 1rem;
  }

  .logo span {
    display: none !important;
  }

  .ads {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .mainSearch {
    flex-direction: column;
  }
  .btn-Gropu {
    display: none !important;
  }
  .doc-img {
    display: none;
  }
  .client-img {
    display: none;
  }
  .client-msg {
    padding: 36px 39px 33px 39px;
  }
  #testomonial .owl-next {
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  #sidebar-wrapper {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* html{
        font-size: 1rem;
    } */
  /* .article-title-container .h2 {
    display: block !important;
    margin-right: 0;
  } */
  body {
    background-color: #fff;
  }
  .subscribe .form-group {
    padding: -1rem;
  }
  .appStore {
    margin: -7.8rem 1rem 0 1rem;
  }
  .serch-wrap-inner {
    margin: -179px 15px !important;
  }
  .serch-wrap-inner .form-control {
    border-radius: 100px !important;
  }
  .form-group .zipcode {
    border: 0px !important;
  }
  .header .logo {
    margin: -15px 0 0 1rem;
  }
  .footer-bootm {
    font-size: 1.6rem;
  }
  .footer-bootm .logo {
    float: left;
  }
  .socia-media-footer ul {
    display: flex;
    justify-content: center;
    margin-right: 2.4rem;
  }
  .consultunt {
    margin: 0 1rem;
  }
  .partner {
    margin: 0 1rem;
  }
  .comman-pg-header {
    height: 42vh;
  }
  .rating-patient {
    margin: 1rem;
    width: 280px;
  }
  .Profileleft .profile-card {
    display: block;
  }
  /*  .Profileleft .aboutDr {
    margin: 1rem;
  } */
  .Profileleft {
    margin: 1rem;
  }
  .Profileleft .bookAnAppoinment {
    margin-left: -1rem;
  }
  .dr-detail {
    display: block;
  }

  .homeHeader .mainSearch {
    position: relative;
    top: -14rem;
    margin: 0 1rem;
    z-index: 0;
  }
}

@media only screen and (max-width: 768px) {
  #mobile-subscribe-fixed-btn {
    display: none;
  }

  .alert.pop-up {
    width: 90%;
    padding: 0.6rem;
  }
  .nav {
    display: none;
  }
  .autocomplete #search {
    position: absolute;
    right: 8rem;
    top: 0.5rem;
    border-radius: 2rem;
    padding: 6px;
    margin-left: 30px;
  }
  .autocomplete {
    position: relative;
    bottom: 30px;
    width: 100%;
    left: 15px;
  }
  /* .btn {
    position: sticky;
    left: 60px;
  } */
  .col-lg-4 {
    margin: 0;
    padding: 0;
  }
  .comman-pg-header {
    max-width: 100%;
    min-width: 300px;
  }
  .autocomplete {
    display: block;
  }
  .mainSearch {
    width: 100%;
    z-index: 1;
  }
  .comman-pg-header {
    max-width: 100%;
    min-width: 300px;

    height: max-content;
  }
  .col-4 {
    max-width: 100%;
    flex: 1;
  }
  .main-hero .col-4 {
    display: contents;
  }

  .main-hero .col-4 .card {
    margin: 0 0.9rem;
  }

  #posts-container {
    margin: auto;
  }

  #posts-container .chip.country {
    display: none !important;
  }
}
@media screen and (min-width: 500px) {
  #search {
    padding: 8px 18px;
    float: right;
    width: min-content;
    margin-left: 170px;
  }
  .mainSearch {
    flex-direction: row;
    z-index: 0;
  }
  .autocomplete {
    display: block;
  }
}
