.header-ad {
  display: inline-block;
  height: 10rem;
}

/* root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
sidebar {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  will-change: auto;
  /* willChange: transform; */
/* overflow-y: auto; */
/* overflowY: auto */
/* }
content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
/* overflowY: auto; */
/* overflow-y: auto; */
/* WebkitOverflowScrolling: touch; */
/* -webkit-overflow-scrolling: touch;
  transition: left 0.3s ease-out right 0.3s ease-out;
}
overlay { */
/* z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out visibility 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.3);
}
dragHandle {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
} */
.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 60vh !important;
  z-index: 1;
  padding: 48px 0 0;
  background-color: #49c2e7;
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); */
}
#sidebar-wrapper {
  min-height: 60vh !important;
  width: 100vw;
  /* margin-left: -1rem; */
  padding-left: 2rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: #49c2e7;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
